.errorModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    z-index: 1000;
}

.errorMessage {
    font-size: 16px;
    font-weight: 400;
    color: red;
}
