@use '@/app/styles' as *;

.controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.video {
    width: 100%;
    height: 100%;
    position: relative;
}

.closeButton {
    display: none;
    position: absolute;
    right: 7px;
    top: 7px;
}

.localVideo {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    overflow: hidden;

    &.floating {
        position: fixed;
        width: 300px;
        height: 180px;
        bottom: 30px;
        left: 30px;
        border: 2px solid $lightColor;
        border-radius: 12px;
        box-shadow: $shadow;
        z-index: 1003;
        will-change: transform;

        .controls {
            display: none;
        }

        .closeButton {
            display: block !important;


            & > button:hover {
                transform: scale(1.2);
            }
        }
    }
}

.remoteVideo {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    overflow: hidden;

    .closeButton {
        display: none;
    }
}

.pendingLoader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background: rgba(255, 255, 255, 0.2);
    z-index: 1002;
    padding: 20px;

    div {
        width: 100px;
        height: 100px;
    }

    p {
        font-size: 22px;
        font-weight: 700;
        text-align: center;
    }
}

@media (max-width: 1024px) {
    .remoteVideo {
        &.floating {
            position: fixed;
            width: 300px;
            height: 180px;
            bottom: 30px;
            left: 30px;
            border: 2px solid $lightColor;
            border-radius: 12px;
            box-shadow: $shadow;
            z-index: 1005;
            will-change: transform;

            .controls {
                display: none;
            }


            .closeButton {
                display: block !important;


                & > button:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}
