.controls {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 30px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.video {
    width: 100%;
    height: 100%;
    position: relative;
}

.localVideo {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    overflow: hidden;


    &__modal {
        position: fixed;
        top: 100px;
        left: 50%;
        width: 600px;
        height: 400px;
        z-index: 1000;
        transform: translateX(-50%);
        border-radius: 12px;
    }
}

.remoteVideo {
    width: 100%;
    height: 100%;
    background: #000;
    position: relative;
    overflow: hidden;
}

@media (max-width: 768px) {
    .localVideo__modal {
        width: 75%;
        min-width: 200px;
        height: auto;
        max-height: 400px;
        border-radius: 12px;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }
}
