.button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #092f56;
    color: white;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #0056b3;
    }

    &:active {
        background-color: #003e76;
    }

    &__disabled {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
    }
}
