@use '@/app/styles' as *;

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    background-color: $darkButton;
    color: $lightColor;
    font-size: 16px;
    line-height: 11px;
    letter-spacing: normal;
    font-weight: 600;
    @include smooth-ui(all);

    &:hover {
        background-color: $darkButtonHover;
        transform: scale(0.97);
    }

    &:active {
        background-color: $darkButtonActive;
        transform: scale(0.93);
    }

    &.liquid {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.8px);
        -webkit-backdrop-filter: blur(5.8px);
        border: 1px rgba(255, 255, 255, 0.2) solid;

        &:hover {
            background: rgba(255, 255, 255, 0.06);
        }

        &:active {
            background: rgba(255, 255, 255, 0.01);
        }
    }

    &.emitMessage {
        background: rgba(33, 44, 107, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.8px);
        -webkit-backdrop-filter: blur(5.8px);

        &:hover {
            background: rgba(33, 44, 107, 0.2);
        }

        &:active {
            background: rgba(33, 44, 107, 0.2);
        }
    }

    &.withIcon {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    &.square {
        padding: 12px;
    }

    &.disabled {
        background-color: $darkBlue;
        cursor: not-allowed;
    }

    &.active {
        background: rgba(54, 43, 214, 0.59);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.8px);
        -webkit-backdrop-filter: blur(5.8px);

        &:hover {
            background: rgba(41, 29, 209, 0.59);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.8px);
            -webkit-backdrop-filter: blur(5.8px);
        }   

        &:active {
            background: rgba(41, 29, 209, 0.59);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5.8px);
            -webkit-backdrop-filter: blur(5.8px);
        }
    }

    &.withText {
        padding: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    &.action {
        background: $action;
        &:hover {
            background: $actionHover;
        }
        &:active {
            background: $actionActive;
        }
    }

    &.red {
        background-color: $red;

        &:hover {
            background-color: $redHover;
        }
        &:active {
            background-color: $redActive;
        }
    }
}
