
@use '@/app/styles' as *;

.input {
    width: 100%;
    height: 100%;
    padding: 14px;
    background: rgb(25, 25, 25);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(58, 58, 58);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    line-height: 19px;
    outline: none;    
    @include smooth-ui(all);

    &:focus {
        border-color: $lightColor;
        transform: scale(1.07);
    }

    &__error {
        border-color: red;
    }

    &__container {
        width: 100%;
        height: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__withTitle {
        padding-top: 20px;
    }

    &__withError {
        padding-bottom: 30px;
    }
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;

    @include error-slide();

    &__visible {
        opacity: 1;
        transform: translateY(20px);
    }
}

.title {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    color: palegoldenrod;
}
