.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    height: 50px;

    &__error {
        border-color: red;
    }

    &__container {
        width: 100%;
        height: 70px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    &__withTitle {
        padding-top: 20px;
    }

    &__withError {
        padding-bottom: 30px;
    }
}

.error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: -10px;
    left: 0;
}

.title {
    position: absolute;
    top: -10px;
    left: 0;
    font-size: 14px;
    font-weight: 500;
    color: palegoldenrod;
}
