@use '@/app/styles' as *;

.fade {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    
    @include fade-in();
    
    pointer-events: none;
    
    &.open {
        opacity: 1;
        pointer-events: auto;
    }
}

.modal {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    z-index: 999;
    padding: 30px;
    
    &.open {
        pointer-events: auto;
    }
    
    &__content {
        position: relative;
        width: 680px;
        height: 600px;
        min-height: 600px;
        
        background-color: rgba(37, 30, 30, 0.866);
        padding: 20px;
        border-radius: 12px;
        
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        
        @include modal-enter();
        
        &.open {
            @include modal-active();
        }

        &.fullSize {
            width: 100%;
            height: 100%;
            margin: 25px;
            border-radius: 12px;
        }
    }
    
}

.cross {
    position: absolute;
    top: 12px;
    right: 12px;
    
    cursor: pointer;
    font-size: 24px;
    color: white;
    
    transition: color 180ms ease;
    
    &:hover {
        color: #ff6b6b;
    }
}

@media (max-width: 768px) {
    .modal__content {
        width: 95%;
        height: 120dvw;
        min-height: auto;
    }

    button {
        height: 80px;
    }
}

