.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(114, 109, 109, 0.523);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 50%;
    min-width: 300px;
    height: 50%;
    min-height: 250px;
    background-color: rgba(37, 30, 30, 0.866);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;
        height: 100%;
    }
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    transition: color 0.3s ease;
    transform: rotate(45deg);

    &:hover {
        color: #ff6b6b;
    }
}
