.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;

  img {
    height: 100%;
  }
}

.homeText {
  text-align: center;
  width: 80%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .logoContainer {
    height: 70px;
  }

  .homeText {
    width: 90%;
  }
}
