.page {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100vw;
}

.container {
    width: 100%;
    gap: 16px;
    display: flex;
    flex-direction: row;
    height: 100dvh;
    padding: 24px;
}

.videoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chatIcon {
    position: fixed;
    display: none;
}

.chatContainer {
    width: 400px;
    height: 100%;
}

@media (max-width: 1024px) {
    .chatContainer {
        position: fixed;
    }

    .chatIcon {
        display: block;
        top: 35px;
        right: 35px;
    }
}

@media (max-width: 768px) {
    .videoContainer {
        flex-direction: column;
    }
}
