@use '@/app/styles' as *;

.page {
    display: flex;
    flex-direction: row;
    height: 100dvh;
    width: 100vw;
}

.container {
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: row;
    height: 100dvh;
    padding: 24px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.videoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: $shadow;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chatIcon {
    position: fixed;
    display: none;
    
    button {
        height: 50px;
    }
}

.chatContainer {
    width: 500px;
    height: 100%;
}

@media (max-width: 1024px) {
    .chatContainer {
        position: fixed;
        top: -100%;

        &__open {
            top: 0;
            left: 0;
        }
    }

    .chatIcon {
        display: block;
        top: 38px;
        right: 38px;
        z-index: 101;
    }
}

@media (max-width: 768px) {
    .videoContainer {
        flex-direction: column;
    }

    .chatIcon p {
        display: none;
    }
}
