.loader {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: relative;

    &.round {
        border: 5px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    &.echo::after,
    &.echo::before {
        content: '';  
        box-sizing: border-box;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 2px solid #FFF;
        position: absolute;
        left: 0;
        top: 0;
        animation: animloader 2s linear infinite;
    }
    &.echo::after {
        animation-delay: 1s;
    }
}

@keyframes animloader {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 