@use "@/app/styles" as *;

.settingsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
    width: 100%;
    height: 80px;
    background-color: $darkBlue;
    padding: 14px;
    z-index: 100;
    
    box-shadow: $shadow;

    & > .buttonContainer {
        display: flex;
        flex-direction: row;
        height: 50px;
    }
}

.logoContainer {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    & > img {
        height: 100%;
    }
}

@media (max-width: 768px) {
    .settingsContainer {
        padding-right: 66px;
    }
    .settingsContainer button p {
        display: none;
    }

    .logoContainer {
        padding: 5px;
    }
}
