.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    & > button {
        height: 80px;
    }
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
