@use '@/app/styles' as *;

.tab {
    padding: 10px;
    cursor: pointer;
    width: 420px;
    height: 220px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-color: $darkButton;
    color: white;
    @include smooth-ui(all);

    &:hover {
        transform: scale(1.2);
        background-color: $darkButtonHover;
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
    }
}

.tabs {
    display: flex;
    gap: 30px;
    width: 440px;
    max-width: 100%;
    height: 220px;
    padding: 32px;
}

@media (max-width: 768px) {
    .tabs {
        width: 70dvw;
        max-width: 300px;
        max-height: 300px;
        height: 70dvw;
    }
    .tab {
        width: 100%;
        height: 100%;
    }
}
