.tab {
    padding: 10px;
    cursor: pointer;
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid transparent;   
    border-radius: 10px;
    background-color: darkblue;
    color: white;


    &:hover {
        border-bottom: 2px solid #000;
        font-weight: bold;
        background-color: darkslateblue;
        color: white;
    }

    &:active {
        border-bottom: 2px solid #000;
        font-weight: bold;
        background-color: darkslateblue;
        color: white;
    }
}

.tabs {
    display: flex;
    gap: 10px;
    flex-direction: row;
    width: 440px;
    height: 220px;
}
